$dark-color: #2f2222;
$light-color: #fff;
$blue-color: #3596fe;

$text-dark: $dark-color;
$text-gray: rgba($dark-color, 0.4);
$text-light: $light-color;
$text-blue: $blue-color;

$bg-main: #231f20;
$bg-gray: #59595e;
$bg-gray-dark: #363638;
$bg-blue: $blue-color;
$bg-blue-light: rgba($blue-color, 0.4);

$border-main: #363638;
$border-dark: #2b2b2e;
$border-gray: #59595e;
$border-blue: #3596fe;

$shadow-blue: #3596fe7a;
$shadow-dark: #0000003d;
$shadow-dark-gray: #59595e3f;
