@import "_dark.scss";

.text-dark {
  color: $text-dark;
}

.text-light {
  color: $text-light;
}

.text-blue {
  color: $text-blue;
}

//
//.txt-color-addit-2 {
//  color: $text-addit-2;
//}
//
//.txt-color-active {
//  color: $text-active;
//}
