.card {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  border-radius: 1rem;
  padding: 2.5rem;
  transition: all 1s;
}

.card:hover {
    box-shadow: 4px 8px 40px 0px rgba(8, 24, 111, 0.20);
}

