@import "_mixins.scss";
@import "../colors";

.heading-main {
  @include heading-1();
}

.heading-second {
  @include heading-2();
}

.text-main {
  @include text-1();
}

.text-small {
  @include text-2();
}

.text-decor-none {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-start-imp {
  text-align: start !important;
}
